export PORT=48654

export POSTGRESQL_USER=kladr
export POSTGRESQL_PASSWORD=kladr
export POSTGRESQL_DEVELOPMENT_DATABASE=kladr
export POSTGRESQL_TEST_DATABASE=kladr
export POSTGRESQL_PRODUCTION_DATABASE=kladr
